mode = "symlink"

[data]

{{- $choices := list -}}

{{- range glob (joinPath .chezmoi.workingTree "conman/hosttypes/*") -}}
{{- $choices = append $choices (regexReplaceAll "\\.[^./]+$" (base .) "") -}}
{{- end -}}

{{- $hosttype := promptChoiceOnce 
    . "hosttype"
    "What type of host is this" 
    $choices 
}}

hosttype = "{{- $hosttype -}}"

[scriptEnv]
_CHEZMOI_HOSTTYPE = "{{- $hosttype -}}"

[hooks.init.post]
script = "{{- .chezmoi.sourceDir -}}/setup-env.sh"

[hooks.apply.pre]
script = "{{- .chezmoi.sourceDir -}}/conman-run.sh"
args = [ "conman.link-scripts" ]

# vim: ft=toml :
