#!/bin/bash
# {{ output (joinPath .chezmoi.sourceDir "conman-run.sh") "conman.list-pkgs" | sha256sum }}
set -eufo pipefail

cd "$CHEZMOI_SOURCE_DIR"

STATE_DIR="$HOME/.local/state/chezmoi"
STATE_FILE="$STATE_DIR/managed-packages.txt"

mkdir -p "$STATE_DIR"
touch "$STATE_FILE"

installed_pkgs=$(pacman -Qq)

required_pkgs=$(./conman-run.sh conman.list-pkgs)

remove_pkgs=$(comm -23 <(cat "$STATE_FILE" | sort -u) <(echo "$required_pkgs" | sort -u) )
# dont try to remove packages which are not installed
remove_pkgs=$(comm -12 <(echo "$remove_pkgs") <(paru -Qq | sort -u))

missing_pkgs=$(comm -13 <(echo "$installed_pkgs" | sort -u) <(echo "$required_pkgs" | sort -u ) )

if [ -n "$remove_pkgs" ] ; then
    echo REMOVING packages
    paru -Rns --noconfirm $remove_pkgs
fi

if [ -n "$missing_pkgs" ] ; then
    paru -S --needed --noconfirm $missing_pkgs
fi

echo "$required_pkgs" | sort -u > "$STATE_FILE"

