#!/bin/bash
# {{ list .pkgs_common .pkgs_laptop .pkgs_fonts .pkgs_music .pkgs_dev .pkgs_gaming | join "" | sha256sum }}
set -eufo pipefail

STATE_DIR="$HOME/.local/state/chezmoi"
STATE_FILE="$STATE_DIR/managed-packages.txt"

mkdir -p "$STATE_DIR"
touch "$STATE_FILE"

sudo pacman -S --needed --noconfirm python

installed_pkgs=$(pacman -Qq)

required_pkgs=$(python3 "$CHEZMOI_SOURCE_DIR/list-hosttype-pkgs.py" "{{ .hosttype }}")

remove_pkgs=$(comm -23 <(cat "$STATE_FILE" | sort -u) <(echo "$required_pkgs" | sort -u) )

missing_pkgs=$(comm -13 <(echo "$installed_pkgs" | sort -u) <(echo "$required_pkgs" | sort -u ) )

paru -S --needed --noconfirm $missing_pkgs

if [ -n "$remove_pkgs" ] ; then
    paru -Rns --noconfirm $remove_pkgs
fi

echo "$required_pkgs" | sort -u > "$STATE_FILE"

