#!/bin/bash
# {{ list .pkgs_common .pkgs_laptop .pkgs_fonts .pkgs_music .pkgs_dev .pkgs_nvim .pkgs_gaming | join "" | sha256sum }}
set -eufo pipefail

sudo pacman -S --needed --noconfirm python

installed_pkgs=$(pacman -Qq)
required_pkgs=$(python3 list-hosttype-pkgs.py "{{ .hosttype }}")

missing_pkgs=$(comm -23 <(echo "$required_pkgs" | sort -u ) <(echo "$installed_pkgs" | sort -u))

paru -S --needed --noconfirm $missing_pkgs

